:root {
  --appBgColor: #f1faee;
  --frenchBlue: #002654;
  --frenchRed: #ce1126;
  --borderRadiusSmall: 5px;
  --borderRadiusMedium: 10px;
  --borderRadiusLarge: 15px;
  --fontSmall: 12px;
  --fontMedium: 24px;
  --fontLarge: 32px;
  --smallSize: 10px;
  --mediumSize: 30px;
  --largeSize: 50px;
  --buttonWidth: 183px;
  --buttonHeight: 60px;
  --transitionTime: 0.3s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Reusable components*/

.input-container {
  font-size: var(--fontMedium);
}

.input-container .input {
  height: 60px;
  width: 435px;
  border: 1px solid var(--frenchBlue);
  border-radius: var(--borderRadiusLarge);
  font-size: var(--fontMedium);
  padding-left: var(--mediumSize);
}

.input-container .input:focus {
  outline: none;
}

.input-container .title {
  margin-bottom: var(--smallSize);
}

.continue-button {
  border-radius: var(--borderRadiusSmall);
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  border: 1px solid var(--frenchBlue);
  font-size: var(--fontMedium);
  color: white;
  background-color: var(--frenchBlue);
  cursor: pointer;
}

.continue-button:hover {
  background-color: white;
  color: var(--frenchBlue);
  transition: var(--transitionTime);
}

.continue-button:focus {
  outline: none;
}

.disable-button {
  border-radius: var(--borderRadiusSmall);
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  font-size: var(--fontMedium);
}

.error {
  color: var(--frenchRed);
  font-size: var(--fontSmall);
}

a a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: var(--frenchBlue);
}

.policy-contact {
  position: absolute;
  top: 690px;
  left: 100px;
}

/*pages*/
/*signin*/

.container {
  background-color: var(--appBgColor);
  width: 100%;
  height: 100%;
  position: absolute;
}

.container .registration {
  position: absolute;
  top: 40px;
  left: 470px;
  width: 525px;
  height: 525px;
  background-color: white;
  border-radius: var(--borderRadiusMedium);
  border: 1px solid var(--frenchBlue);
}

.container .registration img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.container .registration .registration-link {
  margin-right: var(--mediumSize);
  float: right;
}

.container .registration .continue-button {
  position: absolute;
  left: 317px;
  bottom: 20px;
}

.container .registration .disable-button {
  position: absolute;
  left: 317px;
  bottom: 20px;
}

.container .registration .form {
  margin-left: var(--mediumSize);
  margin-top: var(--mediumSize);
  margin-bottom: var(--smallSize);
}

.container .registration .form .input-container {
  margin-bottom: var(--smallSize);
}

.container .registration .forget-password {
  left: m;
  position: absolute;
  bottom: 43px;
}

/*signup*/

.container .signup {
  position: absolute;
  top: 40px;
  left: 470px;
  width: 525px;
  height: 640px;
  background-color: white;
  border-radius: var(--borderRadiusMedium);
  border: 1px solid var(--frenchBlue);
}

.container .signup img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.container .signup .registration-link {
  margin-right: var(--mediumSize);
  float: right;
}

.container .signup .signup-successful {
  position: absolute;
  margin-left: var(--mediumSize);
  top: 43%;
  font-weight: normal;
}

.container .signup .continue-button {
  position: absolute;
  left: 317px;
  bottom: 20px;
}

.container .signup .disable-button {
  position: absolute;
  left: 317px;
  bottom: 20px;
}

.container .signup .form {
  margin-left: var(--mediumSize);
  margin-top: var(--mediumSize);
  margin-bottom: var(--smallSize);
}

.container .signup .form .input-container {
  margin-bottom: var(--smallSize);
}

/*homepage*/
.container .navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  font-size: 24px;
  background-color: white;
  height: 40px;
  align-items: center;
  color: var(--frenchBlue);
}

.container .navbar .home-link {
  display: flex;
}

.container .navbar .home-link .home-title {
  padding-top: 4px;
}

.container .navbar .home-link .icon {
  padding-right: 20px;
  font-size: 40px;
}

.container .navbar .level-profile {
  display: flex;
}

.container .navbar .level-profile .level {
  padding-top: 3px;
  padding-right: 50px;
}

.container .navbar .level-profile .level .plus-experience {
  position: absolute;
  top: 20px;
  font-size: 12px;
  right: 405px;
}

.container .navbar .level-profile .level progress {
  margin-left: 30px;
  height: 30px;
}

.container .navbar .level-profile .profile .icon {
  font-size: 40px;
}
